<div id="configuration_module" class="hidden">
  <div class="flex flex-col configuration_container">
    <label for="iri">
      <input type="radio" id="iri" name="selected_configuration" value="iri" checked>
      Iri
    </label>
    <label for="carretera">
      <input type="radio" id="carretera" name="selected_configuration" value="carretera">
      Carretera
    </label>
  </div>
</div>