<div id="configuration_module" class="hidden">
  <div class="flex flex-col configuration_container">
    <div class="flex gap-2">
      <input type="checkbox" id="iri" name="selected_configuration" value="iri" checked="checked">
      <p id="label_iri" class="cursor-pointer">IRI</p>
    </div>
    <div class="flex gap-2">
      <input type="checkbox" id="friccion" name="selected_configuration" value="friccion">
      <p id="label_friccion" class="cursor-pointer">Fricción</p>
    </div>
  </div>
</div>