<div id="configuration_module" class="hidden">
  <div class="flex flex-col configuration_container">
    <%- include ("./atoms/configuration_option.ejs", {id: "iri", checked: "checked"}) %>
    <%- include ("./atoms/configuration_option.ejs", {id: "friccion", checked: ""}) %>
    <%- include ("./atoms/configuration_option.ejs", {id: "deflexion", checked: ""}) %>

  </div>
</div>