<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <!-- <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet"> -->
  </head>

  <a
    class="bg-gob font-gob flex align-middle text-white py-2 pl-2 z-10"
    href="https://www.gob.mx/imt"
  >
    <img src="/img/logo_gobierno.png" class="size-12" />
    <div class="pl-2 flex flex-col items-center align-middle">
      <h1>Gobierno de</h1>
      <bold class="text-xl -mt-2 font-gob-bold font-bold">México</bold>
    </div>
  </a>

  <nav class="border-gob border-b-4 flex justify-center">
    <img
      src="/img/logo_gobierno2024.webp"
      class="absolute left-0 -z-10 h-40 -ml-10 -mt-6"
    />
    <h1 class="font-gob text-golden text-5xl font-bold my-4 flex items-center">
      Grafica de segmentación <img src="/img/imt.png" class="size-24 ml-6" />
    </h1>
  </nav>
</html>
