<%- include ('../components/header')%>
<body class="font-montserrat">
    <%- include ('../utils/form') %>
    <%- include ('../utils/chart') %>
    
    <!-- <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script> -->
    <script src="/js/onload.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>