<%- include ('../components/header')%>

<body class="font-montserrat">
  <%- include ('../utils/form_selection') %>
  <%- include ('../utils/chart') %>
  <%- include('../components/molecules/error.ejs') %>

  <script src="/js/onload.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/controller.js"></script>
</body>

</html>