<%- include ('../components/header')%>
<body class="font-montserrat">
    <%- include ('../utils/form') %>
    <%- include ('../utils/chart') %>
    
    <!-- <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script> -->
</body>
</html>