<%- include ('../components/header')%>

<body class="font-montserrat">
  <%- include ('../utils/form_selection') %>
  <%# include ('../utils/friction/form') %>
  <%- include ('../utils/chart') %>

  <script src="/js/onload.js"></script>
  <script src="/js/home.js"></script>
</body>

</html>