<%- include ('../components/template/header')%>
<%- include('../components/molecules/title_segmentation.ejs', {title: "Herramienta de Retrocálculo de Pavimento"}) %>

<body>
  <%- include("../components/organism/retrocalculus/data_input.ejs") %>
</body>

</html>