<div 
  class="w-screen h-full fixed top-0 left-0 bg-gray-950 bg-opacity-70 flex justify-center items-center"
  style="display: none"
  id="modal"
  onclick="closeModal()"
  >
  <section class="w-1/3 min-h-[33.33%] bg-white rounded-md" onclick="event.stopPropagation();">
    <h1 class="font-bold text-xl bg-red-600 rounded-t-md p-2 text-white">Error</h1>
    <p class="my-2 px-2 text-justify" id="error_text"></p>
    <ul class="font-semibold w-full text-center" id="param"></ul>

    <div class="w-full flex items-end p-3 justify-end xl:mt-10 mt-0">
      <button
        class="bg-gray-400 rounded-sm hover:bg-gray-500 px-3 py-1 text-white font-semibold"
        onclick="closeModal()"
      >
        Cerrar
      </button>
    </div>
  </section>
</div>

<script>
  function closeModal() {
    $("#modal").hide();
    $("#param").empty()
  }
</script>