<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main class="hidden" id="chartArea">
  <div class="hide w-3/4 m-10 mb-10">
    <canvas id="myChart"></canvas>
  </div>

  <section
    class="w-1/4 border-l-2 h-screen border-gray-400 pl-2 flex flex-col items-center pt-10"
  >
    <h2 class="text-xl text-gob font-semibold text-center">Resultados</h2>
    <table class="table-fixed mx-auto">
      <tbody>
        <tr>
          <td class="w-32">Media</td>
          <td id="media"></td>
        </tr>
        <tr>
          <td class="w-32">Máximo</td>
          <td id="max"></td>
        </tr>
        <tr>
          <td class="w-32">Mínimo</td>
          <td id="min"></td>
        </tr>
        <tr>
          <td class="w-32">Total de segmentos</td>
          <td id="total"></td>
        </tr>
        <tr>
          <td class="w-32">Método</td>
          <td id="method"></td>
        </tr>
      </tbody>
    </table>

    <form action="/create_chart">
        <button 
          class="mt-7 px-2 py-1 bg-green-500 hover:bg-green-600 text-white rounded-sm font-semibold">
          Descargar Excel
        </button>
      </input>
    </form>
  </section>

  <script src="/js/generate_chart.js"></script>
</main>
