<form action="/upload_file" method="POST" enctype="multipart/form-data" id="form">
        <label for="file">Upload file</label>
        <input
            type="file"
            id="file"
            name="file"
            accept=".csv, .xlsx, .xls"
            onchange=show_second()
            >
        <input
            type="hidden"
            id="hidden"
            name="file"
            accept=".csv, .xlsx, .xls"
            >
        <button type="submit">Send</button>
    </form>