<style>
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }
  
  table, th, td {
    border: 2px solid black;
  }
  input {
    width: 100%;
  }
  input:disabled {
    background-color: #DDD;
  }
</style>

<form action="" class="flex flex-col w-11/12 mx-auto mt-2">
  <%- include("./general_input.ejs") %>

  <br class="mt-10">
  <%- include("./input_layers.ejs") %>
  
  <br class="mt-10">
  <%- include("./input_sensors.ejs") %>
  
  <button onclick="clear()" type="button">Limpiar</button>
</form>

<script src="/js/retrocalculus/copy_paste.js"></script>
<script src="/js/retrocalculus/layer_table.js"></script>