<div class="w-1/2" id="general_inputs">
  <%- include("../../atoms/input.ejs", {label: "Carga P (N)", type: "float", id: "load"}) %>
  <%- include("../../atoms/input.ejs", {label: "Presión (kPa)", type: "float", id: "pressure"}) %>
  <%- include("../../atoms/input.ejs", {label: "Radio del Plato de Carga (mm)	", type: "float", id: "radius"}) %>
  <%- include("../../atoms/input.ejs", {label: "Presión Atmosferica (MPa)", type: "float", id: "pressure"}) %>
</div>