<div class="w-1/2" id="general_inputs">
  <%- include("../../atoms/input.ejs", {label: "Carga P (N)", type: "number", id: "load"}) %>
  <%- include("../../atoms/input.ejs", {label: "Presión (kPa)", type: "number", id: "pression"}) %>
  <%- include("../../atoms/input.ejs", {label: "Radio del Plato de Carga (mm)	", type: "number", id: "radius"}) %>
  <%- include("../../atoms/input.ejs", {label: "Presión Atmosferica (MPa)", type: "number", id: "pressure"}) %>
</div>

<script src="/js/retrocalculus/copy_paste.js"></script>