<table id="layers">
  <%- include("../../molecules/retrocalculus/layers_headers.ejs") %>
  <%- include("../../molecules/retrocalculus/layer.ejs", {layer: 1, disabled: "disabled"}) %>
  <%- include("../../molecules/retrocalculus/layer.ejs", {layer: 2, disabled: "disabled"}) %>
  <%- include("../../molecules/retrocalculus/layer.ejs", {layer: 3, disabled: ""}) %>
</table>
<%# include("../../atoms/input.ejs", {label: "Presión Atmosferica (MPa)", type: "number", id: "pressure"}) %>