<table>
  <%- include("../../molecules/retrocalculus/sensor_headers.ejs") %>
  <%- include("../../molecules/retrocalculus/sensor_input.ejs", {title: "Espaciamineto Geófonos (mm)", id: "geofon", disabled: ""}) %>
  <%- include("../../molecules/retrocalculus/sensor_input.ejs", {title: "Deflexión Medida  (μm)", id: "deflexion", disabled: ""}) %>
  <%- include("../../molecules/retrocalculus/sensor_input.ejs", {title: "Módulo superficial (MPa)", id: "superficial", disabled: "disabled"}) %>
</table>

