<table id="result">
  <%- include("../../molecules/retrocalculus/sensor_headers.ejs") %>
  <%- include("../../molecules/retrocalculus/sensor_input.ejs", {title: "Deflexión Calculada  (μm)", id: "final_deflexion", disabled: "disabled"}) %>
  <%- include("../../molecules/retrocalculus/sensor_input.ejs", {title: "Módulo superficial (MPa)", id: "final_superficial_module", disabled: "disabled"}) %>
</table>

