<div class="flex justify-between w-full px-10">
  <%- include("../atoms/change_form_button.ejs", {direction: "left"}) %>
  <%- include("../atoms/change_form_button.ejs", {direction: "right"}) %>
</div>

<script src="/js/form_controller.js">

</script>