<div id="como_usar_module" class="hidden">
  <h2 class="text-2xl text-imt-dark font-semibold text-center mb-3">Instrucciones</h2>
  <ul class="text-justify w-2/3 mx-auto flex flex-col gap-2">
    <li>Click en un parámetro para modificar valores de segmentación.</li>
    <li>Arrastra los elementos que quieras que sean segmentados y se encuentren dentro del archivo de excel.</li>
    <li>Subir un archivo de excel con una hoja por parámetro que se quiere segmentar.</li>
    <li>Shift + click: Para seleccionar o deseleccionar multiples elementos antes de arrastrar.</li>
    <li>Existen botones de acceso rápido para seleccionar o deseleccionar todos los elementos.</li>
  </ul>
</div>