<div id="como_usar_module" class="hidden">
  <h2 class="text-2xl text-imt-dark font-semibold text-center mb-3">
    Instrucciones
  </h2>
  <ol
    class="text-justify w-3/4 mx-auto [&>li]:mb-2 pl-4 gap-2"
    style="list-style-type: decimal; list-style-position: inside"
  >
    <li>
      En la pestaña “Variables”, arrastra del cuadro “No seleccionadas” al
      cuadro “Seleccionadas” las variables que deseas que se tomen en cuenta en
      la segmentación y que se encuentren dentro del archivo de Excel
      (Mayúscula+Clic para seleccionar varios elementos antes de arrastrar
    </li>
    <li>
      Subir el archivo de Excel con los datos de cada variable en hojas
      separadas.
    </li>
    <li>
      Modificar en la sección “parámetros” los parámetros para la segmentación
      dinámica del tramo con base en los indicadores de condición
    </li>
    <li>Presionar el botón “Segmentar” en esta misma sección.</li>
  </ol>
</div>
