<label for="files_input" class="w-full flex flex-col items-center">
  <input type="file" id="files_input" name="files" accept=".csv, .xlsx, .xls" multiple />
  <button type="button" class="text-white bg-imt-nat p-2 px-6 rounded-md font-semibold hover:bg-blue-800 mt-5 text-xl" onclick="loadFile(this)">
    Click para <br>cargar archivos
  </button>
  <p class="text-gray-500 text-sm text-justify w-1/3 mt-2">
    Nombra los archivos para que incluyan la categoría para la que son.
    <br>
  </p>
  <span class="text-center text-gray-500 text-sm">Ej: iri_reforma.xlsx</span>
</label>