<div id="info_module">
  <h2 class="text-2xl text-imt-dark font-semibold text-center mb-3">¿Qué es?</h2>
  <p class="text-justify w-2/3 mx-auto">
    Esta herramienta divide un tramo de carretera mediante un algoritmo de
    segmentación basado en el método de diferencias acumuladas que se describe en
    la guía de diseño de pavimentos de AASHTO de 1993.
  </p>
  <form action="/download_example" class="flex justify-center">
    <%- include("../atoms/button.ejs", {name: "download_example", text: "Descargar ejemplo"}) %>  
  </form>
</div>