<nav class="border-imt-dark border-b-4 flex justify-center">
  <img src="/img/logo_gobierno2024.webp" class="absolute left-0 -z-10 h-40 -ml-10 -mt-6" />
  <h1 class="font-gob text-golden text-5xl font-bold my-4 flex items-center">
    <%= title %> <img src="/img/imt.png" class="size-24 ml-6" />
  </h1>
</nav>