<div class="flex justify-center my-5">
    <button
      id=<%= id %>
      type="button"
      class="hover:bg-imt-dark text-white font-xl font-semibold bg-imt-nat w-1/4 rounded-sm py-2"
    >
      <%= text %>
    </button>
  </div>