<div class="grid grid-cols-2 h-fit">
  <label class="h-fit"><%= label %></label>
  <input required type="<%= type %>" id="<%= id %>" name="<%= id %>" class="border-2 border-gray-400 border-solid w-64 h-7 mx-auto" />
</div>