<% parameters = [ 
  { 
    id: "iri", 
    input_class_id: `iri_input`,
    name: "IRI", 
    show: true 
  }, 
  { 
    id: "friccion", 
    input_class_id: `friccion_input`,
    name: "Fricción",
    show: false 
  }, 
  { 
    id: "deflexiones", 
    input_class_id: `deflexiones_input`,
    name: "Deflexiones", 
    show: false
  }, 
  {
    id: "agretamiento_por_fatiga", 
    input_class_id: `agretamiento_por_fatiga_input`,
    name: "Agretamiento por fatiga", 
    show: false
  },
  {
    id: "agrietamiento_longitudinal", 
    input_class_id: `agrietamiento_longitudinal_input`,
    name: "Agrietamiento longitudinal", 
    show: false
  }, 
  {
    id: "agrietamiento_transversal", 
    input_class_id: `agrietamiento_transversal_input`, 
    name: "Agrietamiento transversal", 
    show: false
  }, 
  {
    id: "profundidad_rodera", 
    input_class_id: `profundidad_rodera_input`,
    name: "Profundidad de Roderas", 
    show: false
  },
  {
    id: "baches", 
    input_class_id: `baches_input`,
    name: "Baches", 
    show: false
  },
  {
    id: "desprendimientos", 
    input_class_id: `desprendimientos_input`,
    name: "Desprendimientos", 
    show: false
  },
  {
    id: "macrotextura", 
    input_class_id: `macrotextura_input`,
    name: "Macrotextura", 
    show: false
  },
  {
    id: "area_agrietamiento", 
    input_class_id: `area_agrietamiento_input`,
    name: "Área de agrietamiento", 
    show: false
  },
] %>

<form
  action="/upload_file"
  method="POST"
  enctype="multipart/form-data"
  class="h-screen flex gap-10 max-md:flex-col max-md:items-center"
>
  <div class="flex flex-col items-center align-bottom -my-4 py-4">
    <% for (let i = 0; i < parameters.length; i++) { %> 
      <%- include("../molecules/segmentation/parameter_form_content.ejs", parameters[i]) %> 
    <% } %>
    <%-include("../molecules/segmentation/change_form") %>

    <br class="mb-5" />

    <%- include("../atoms/shomogenous", {id: "s_homogenea", input_class_id:
    "segmentacion_homogenea_input", name: "Segmentacion Homogenea", 
    show: false}) %> 
    
    <%- include('../../components/atoms/button', {name: "send", text:
    'Ejecutar'}) %>
    <p id="error_message" class="text-red-600 hidden text-sm mt-2 pl-2"></p>
    <p class="hidden bg-red-600 hover:bg-red-700"></p>
  </div>
</form>
